/* You can add global styles to this file, and also import other style files */
.leaflet-container a.leaflet-popup-close-button{
    top: 10px;
    right: 10px;
    padding: 4px 4px 0px 0px;
    font: 20px/14px Tahoma, Verdana, sans-serif;
}
.leaflet-popup-content{
    margin: 13px 30px;
}